{% block edit %}
{# Edit Modal #}
<div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="judul"></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="" method="post" id="editForm">
          <div class="row g-3 mb-2 align-items-center" hidden>
            <div class="col-3">
              <label for="user_id" class="col-form-label">ID</label>
            </div>
            <div class="col-1">
              <label for="user_id" class="col-form-label">:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control bg-light" id="id_bots" readonly>
            </div>
          </div>
          <div class="row g-3 mb-2 align-items-center">
            <div class="col-3">
              <label for="recipient-name" class="col-form-label">Name</label>
            </div>
            <div class="col-1">
              <label for="recipient-name" class="col-form-label">:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="edit_name">
            </div>
          </div>
          <div class="row g-3 mb-2 align-items-center">
            <div class="col-3">
              <label for="recipient-name" class="col-form-label">Number</label>
            </div>
            <div class="col-1">
              <label for="recipient-name" class="col-form-label">:</label>
            </div>
            <div class="col-8">
              <input type="text" class="form-control" id="edit_number">
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {# <button class="btn btn-warning" type="submit">Edit</button> #}
        <input type="submit" value="Edit" id="editConfirm" class="btn btn-warning">
      </div>
      
    </form>
    </div>
  </div>
</div>
  
{% endblock %}
