{# {% extends "/layout/index.html" %} #}
{% block nav %}
<nav class="navbar navbar-expand-lg navbar-dark gd-nav-anim fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navHider" aria-controls="navHider" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navHider">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://github.com/Miku21750" class="nav-link fw-bold" target="_blank">Miku21</a>
                </li>
                <li class="nav-item active">
                    <a href="/#indexHead" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/#fitur" class="nav-link">Feature</a>
                </li>
                <li class="nav-item">
                    <a href="/#pricelist" class="nav-link">PriceList</a>
                </li>
                <li class="nav-item">
                    <a href="/#faq" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Profile</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
                {# Throw API if user register, throw Data if admin #}
                <li class="nav-item">
                    <a href="/data" class="nav-link">Data</a>
                </li>
            </ul>
            <ul class="navbar-nav my-auto">
                
                {% if name is null %}
                <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
               {% else %}
                <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
